.categories-nav {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.category-widget {
    align-items: center;
    background-color: #1DB954;
    border: 0px;
    border-radius: 50px;
    color: white;
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    justify-content: center;
    margin: 0 5px 10px 5px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s;
}

.category-widget:hover {
    background-color: green;
}

.category-icon {
    width: 80px;
    height: 80px;
    margin: 10px 5px 0px 5px;
}