.nav-toggle {
    background-color: var(--spotify-green);
    border: 0px;
    border-radius: 50px;
    color: white;
    display: none;
    font-size: 1rem;
    font-weight: 600;
    left: 20px;
    padding: 10px 10px;
    position: absolute;
    top: 55px;
    transition: background-color 0.2s;
    width: 120px;
}

.nav-toggle:hover {
    background-color: green;
}

.categories-nav {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    position: static;
    z-index: 1;
}

.category-widget {
    align-items: center;
    background-color: var(--spotify-green);
    border: 0px;
    border-radius: 50px;
    color: white;
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    justify-content: center;
    margin: 0 5px 10px 5px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s;
    width: 180px;
}

.category-widget:hover {
    background-color: green;
}

@media screen and (max-width: 950px) {
    .categories-nav {
        display: none
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle:hover+.categories-nav {
        display: block;
        position: absolute;
        top: 20px;
    }

    .categories-nav:hover {
        display: block;
        position: absolute;
        top: 20px;
    }

    .categories-nav:hover .category-widget {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
}