.playlists-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlists-page>h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.playlists-interface {
    display: flex;
    max-width: 1000px;
}

.no-playlists-msg {
    margin-left: 20px;
}